.kutralam-content {
  margin: 2rem 6rem;
  color: #2a2a2a;
}

.content-section {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  background: #f9f9f9;
  padding: 1rem;
  border-radius: 8px;
}

.content-section.reverse {
  flex-direction: row-reverse;
}

.content-image {
  width: 50%;
  max-width: 400px; /* Set a max width for larger screens */
  height: auto;
  margin-left: 1rem;
  border-radius: 8px;
  transition: transform 0.3s ease; /* Add a transition for smoother animation */
}

.content-section.reverse .content-image {
  margin-left: 0;
  margin-right: 1rem;
}

.content-section p {
  width: 50%;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

.content-section h1 {
  display: none; /* Hide headings by default */
}

.content-section img {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .content-image {
    max-width: 300px; /* Adjust max width for medium screens */
  }
}

@media screen and (max-width: 850px) {
  .content-section,
  .content-section.reverse {
    flex-direction: column;
    max-width: 100%; /* Adjust for mobile screens */
    padding: 0.5rem; /* Add padding for better spacing on mobile */
  }

  .content-section p,
  .content-section.reverse p,
  .content-image,
  .content-section.reverse .content-image {
    width: 100%;
    margin: 0 0 1rem 0;
  }

  .content-section.reverse .content-image {
    margin-right: 0;
  }

  .content-section p {
    display: none; /* Hide paragraphs on mobile screens */
  }

  .content-section h1 {
    display: block; /* Show headings on mobile screens */
    width: 100%; /* Ensure headings take full width */
    margin: 1rem 0; /* Add margin for spacing */
    font-size: 1.5rem; /* Adjust font size for headings */
  }

  .content-image {
    transform: scale(1); /* Reset transform for initial state */
  }

  .content-image:hover {
    transform: scale(1.1); /* Scale image on hover for a zoom effect */
  }
}

@media screen and (min-width: 1600px) {
  .kutralam-content {
    margin: 4rem 8rem; /* Increase margin for larger screens */
  }

  .content-section {
    padding: 2rem; /* Increase padding for larger screens */
    max-width: 1200px; /* Set a max width for the content section */
    margin: 2rem auto; /* Center the content section */
  }

  .content-image {
    max-width: 500px; /* Increase max width for images on larger screens */
  }

  .content-section p {
    font-size: 1.2rem; /* Increase font size for paragraphs */
    line-height: 1.75; /* Adjust line height for better readability */
  }
}
